# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Test output
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.pyc

# Node
node_modules/

# IDEs
.idea/
*.swp

# Misc
*.bak
*.tmp
*.orig

# Custom files
baml_client/*

../baml_client/*

01_baml_starter/baml_client/
01_baml_starter/baml_client/__pycache__/



